<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aviso de Privacidad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Aviso de Privacidad</h1>
        <p>En Denuncias Anonimas estamos comprometidos con la protección de tu privacidad y la seguridad de tus datos. Antes de que realices una denuncia, te pedimos que leas y aceptes nuestro aviso de privacidad, que detalla nuestras políticas sobre la recopilación, uso y protección de la información que nos proporcionas.</p>
        <p>1. Recopilación de Información
            Recopilamos la información necesaria para procesar y gestionar tu denuncia. Esta información puede incluir datos personales y detalles relacionados con el incidente reportado. La recopilación de esta información es esencial para garantizar un manejo adecuado y efectivo de la denuncia.
            <br>
            <br>
            2. Uso de la Información
            La información proporcionada se utiliza exclusivamente para los fines de gestionar y resolver las denuncias. Nos aseguramos de que tu información sea tratada con la máxima confidencialidad y solo se utilice para los propósitos indicados en este aviso.
            <br>
            <br>
            3. Protección de Datos
            Implementamos medidas de seguridad adecuadas para proteger tus datos contra acceso no autorizado, alteración, divulgación o destrucción. Nuestro equipo está capacitado en la gestión de datos sensibles y sigue prácticas rigurosas para mantener la integridad y confidencialidad de tu información.
            <br>
            <br> 
            4. Acceso y Corrección
            Tienes el derecho de acceder, corregir o actualizar la información que has proporcionado. Si deseas hacer alguna modificación a tus datos, por favor contacta a nuestro equipo de soporte.
            <br>
            <br>
            5. Confidencialidad y Anonimato
            En caso de que prefieras mantener el anonimato, tomamos todas las medidas posibles para asegurar que tu identidad no sea revelada. La confidencialidad es una prioridad para nosotros, y nos esforzamos por proteger la identidad de nuestros usuarios.
            <br>
            <br>
            6. Cambios en el Aviso de Privacidad
            Este aviso de privacidad puede ser actualizado periódicamente para reflejar cambios en nuestras prácticas o en la legislación aplicable. Cualquier modificación será publicada en nuestra página web y se te notificará según sea necesario.
            <br>
            <br>
            7. Contacto
            Para cualquier consulta o inquietud respecto a este aviso de privacidad o a la manera en que manejamos tu información, por favor contáctanos a [correo electrónico o dirección de contacto].
            <br>
            <br>
            Al continuar con el proceso de denuncia, aceptas los términos establecidos en este aviso de privacidad.</p>
        <form method="POST">
            <button type="submit">Aceptar y Continuar</button>
        </form>
    </div>
    <footer>
        <p>&copy; 2024 Página de Denuncias. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
