<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Quiénes Somos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Quiénes Somos</h1>
    </header>
    <div class="container">
        <section>
            <p>Somos una organización comprometida con la transparencia y la justicia. Nuestro objetivo es ofrecer un espacio seguro y anónimo donde las personas puedan denunciar de manera confidencial.</p>
        </section>
    </div>
    <footer>
        <p>&copy; 2024 Página de Denuncias. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
