<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Quiénes Somos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Quiénes Somos</h1>
    </header>
    <div class="container">
        <section>
            <p>En Denuncias Anonimas , nos dedicamos a promover la transparencia, la justicia y la seguridad en nuestra comunidad. Nuestra misión es proporcionar una plataforma segura, accesible y totalmente anónima para que cualquier persona pueda reportar incidentes de manera confidencial, sin temor a represalias.
                <br>
                Entendemos que a menudo, la decisión de reportar un robo o cualquier otro tipo de incidente puede ser difícil debido a la preocupación por la privacidad y la seguridad personal. Es por eso que hemos creado un sistema que garantiza que toda la información proporcionada se maneje con la máxima discreción y protección.
                <br>
                Nuestro equipo está compuesto por profesionales comprometidos con la integridad y la ética, que trabajan incansablemente para asegurar que cada denuncia sea tomada en serio y tratada con la mayor confidencialidad. Nos esforzamos por ofrecer un servicio que no solo facilite la denuncia de incidentes, sino que también ayude a resolverlos eficazmente.
                <br>
                Además de ofrecer un canal seguro para reportar robos y otros incidentes, nos dedicamos a educar y concienciar a la comunidad sobre la importancia de la transparencia y la responsabilidad. Creemos que una sociedad informada y empoderada es clave para combatir la injusticia y mejorar la seguridad para todos.
                <br>
                Nuestro compromiso es con cada individuo que utiliza nuestra plataforma. Estamos aquí para escuchar, apoyar y asegurar que cada voz sea escuchada y cada denuncia sea tratada con la seriedad que merece.
                <br>
                En Denuncias Anonimas, su seguridad y privacidad son nuestra prioridad. Le invitamos a conocer más sobre nuestros servicios y a utilizar nuestra plataforma para contribuir a una comunidad más segura y justa.</p>
            </section>
    </div>
    <footer>
        <p>&copy; 2024 Página de Denuncias. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
